.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 2rem 0;
}

.pagination button {
  padding: 0.4rem 1rem;
  border-radius: 0.5rem;
  border: none;
  background-color: #2563eb;
  color: white;
  cursor: pointer;
}

.pagination button:disabled {
  background-color: #9ca3af;
  cursor: not-allowed;
}
