version: "3.9"

services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_DB: images
      POSTGRES_USER: images_user
      POSTGRES_PASSWORD: images_pass
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U images_user -d images"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - app_network

  redis:
    image: redis:7
    command: ["redis-server", "--appendonly", "yes"]
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 3s
      retries: 5
    networks:
      - app_network

  minio:
    image: minio/minio
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    command: server /data --console-address ":9001"
    ports:
      - "9002:9000"   # Public S3 endpoint
      - "9003:9001"   # MinIO console
    volumes:
      - minio_data:/data
    networks:
      - app_network

  
  minio-init:
    image: minio/mc
    depends_on:
      - minio
    entrypoint: >
      /bin/sh -c "
      sleep 5 &&
      mc alias set local http://minio:9000 minioadmin minioadmin &&
      mc mb --ignore-existing local/images &&
      mc anonymous set download local/images
      "
    networks:
      - app_network

  django:
    build: .
    command: gunicorn api.wsgi:application --bind 0.0.0.0:8000
    env_file:
      - .env
    volumes:
      - .:/app
      - staticfiles:/app/staticfiles
    ports:
      - "8000:8000"
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
    networks:
      - app_network

  celery_worker_importer:
    build: .
    command: celery -A api worker -Q importer -l info
    env_file:
      - .env
    volumes:
      - .:/app
      - staticfiles:/app/staticfiles
    depends_on:
      django:
        condition: service_started
      redis:
        condition: service_healthy
    networks:
      - app_network

  celery_worker_uploader:
    build: .
    command: celery -A api worker -Q uploader -l info
    env_file:
      - .env
    volumes:
      - .:/app
      - staticfiles:/app/staticfiles
    depends_on:
      django:
        condition: service_started
      redis:
        condition: service_healthy
    networks:
      - app_network

  celery_beat:
    build: .
    command: celery -A api beat -l info --scheduler django_celery_beat.schedulers:DatabaseScheduler
    env_file:
      - .env
    volumes:
      - .:/app
      - staticfiles:/app/staticfiles
    depends_on:
      django:
        condition: service_started
      redis:
        condition: service_healthy
    networks:
      - app_network

  flower:
    image: mher/flower
    environment:
      CELERY_BROKER_URL: redis://redis:6379/0
    ports:
      - "5555:5555"
    depends_on:
      redis:
        condition: service_healthy
    networks:
      - app_network

volumes:
  postgres_data:
  redis_data:
  minio_data:
  staticfiles:

networks:
  app_network:
    driver: bridge
