version: "3.9"

services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app_network

  redis:
    image: redis:7
    command: ["redis-server", "--appendonly", "yes"]
    volumes:
      - redis_data:/data
    networks:
      - app_network

  minio:
    image: minio/minio
    environment:
      MINIO_ROOT_USER: ${MINIO_ROOT_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
    command: server /data --console-address ":9001"
    volumes:
      - minio_data:/data
    networks:
      - app_network

  django:
    build: .
    command: gunicorn api.wsgi:application --bind 0.0.0.0:8000
    env_file:
      - .env
    depends_on:
      - postgres
      - redis
      - minio
    networks:
      - app_network

  celery_worker_importer:
    build: .
    command: celery -A api worker -Q importer -l info
    env_file:
      - .env
    depends_on:
      - redis
      - django
    networks:
      - app_network

  celery_worker_uploader:
    build: .
    command: celery -A api worker -Q uploader -l info
    env_file:
      - .env
    depends_on:
      - redis
      - django
    networks:
      - app_network

volumes:
  postgres_data:
  redis_data:
  minio_data:

networks:
  app_network:
    driver: bridge
